extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Something went wrong!
        h2.error__emoji 😢 🤯
        //- error shape is slightly different btwn 500 and 404 errors
      - if (error.statusCode === 500)
        .error__msg 500: internal server error
      - else
        .error__msg #{error.statusCode}: #{error.message}