//- extending the base template means injecting some
//- content into a "layout" template

//- imports tours array
extends base

block content 
  main 
    .card-container
      each tour in tours
        include _tourCard