//- takes in 'firstName', 'url', and 'subject'
extends baseEmail 

//- Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: ${resetURL}. \n If you didn't forget your password, please ignore this email
block content 
  p Hi #{firstName},
  p Forgot your password? Click the link below to go to the password rest page.
  p (not yet implemented)
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Reset password
  p If you didn't request a password reset, please ignore this email.